#puppies1{
  height:100px;
  width:100px;
}

#puppies2{
  height:100px;
  width:100px;
}


#puppies3{
  height:100px;
  width:100px;
}
   


#puppies4{
  height:100px;
  width: 100px;
}


#kittens1{
  hight:100px;
  width:100px;
}




#kittens2{
  hight:100px;
  width:100px;
}



#kittens3{
  hight:100px;
  width:100px;
}



#kittens4{
  hight:100px;
  width:100px;
}



Body{Background-color:cyan}